:root {
  --bg-color: #CDCDCD;
  --bg-modal: #FFFFFF;
  --bg-btn: #3470FF;
  --bg-btn-hover: #0B44CD;
  --bg-backdrop: #12141780;
  --bg-home: #121417aa;
  --bg-btn-positive: #00b922;
  --bg-btn-negative: #c72240;


  --color-text-btn: #FFFFFF;
  --color-text-primary: #121417;
  --color-text-primary50: #12141780;
  --color-text-primary20: #12141733;
  --color-text-secondary: #3470FF;
  --color-text-conditions: #363535;
  --color-text-label: #8A8A89;
  --color-text-btn-hover: #0B44CD;
  --color-text-home: #3470FF;

  --border-btn: 1px solid #121417;

  --stroke-color: #FFFFFF;
  --fill-color: #3470FF;
  --stroke-close: #121417;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Manrope';
  font-weight: 600;
  font-style: normal;
  src:
    local('Manrope'),
    url('./fonts/semibold600/Manrope-Semibold.woff2') format('woff2'),
    url('./fonts/semibold600/Manrope-Semibold.woff') format('woff'),
    url('./fonts/semibold600/Manrope-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  font-style: normal;
  src:
    local('Manrope'),
    url('./fonts/medium500/Manrope-Medium.woff2') format('woff2'),
    url('./fonts/medium500/Manrope-Medium.woff') format('woff'),
    url('./fonts/medium500/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 400;
  font-style: normal;
  src:
    local('Manrope'),
    url('./fonts/regular400/Manrope-Regular.woff2') format('woff2'),
    url('./fonts/regular400/Manrope-Regular.woff') format('woff'),
    url('./fonts/regular400/Manrope-Regular.ttf') format('truetype');
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: var(--bg-btn-hover);
}

::-webkit-scrollbar-track {
  margin-top: 80px;
  margin-bottom: 10px
}


body {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Manrope, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-primary);
}

code {
  font-family: Manrope,
    sans-serif;
}

img {
  height: 100%;
}


p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}


button {
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  font-family: inherit;
}

.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  background: var(--bg-btn);
  border-color: transparent;
  border-radius: 12px;

  color: var(--color-text-btn);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;

  transition: background var(--transition);
}

.btn:is(:hover, :focus) {
  background: var(--bg-btn-hover);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.home {
  height: 100vh;
  background-image: linear-gradient(var(--bg-home), var(--bg-home)), url(./images/source.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

@media screen and (min-width: 778px) {
  .container {
    max-width: 778px;
    padding: 0 86px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 128px;
  }
}